body {
    background: url("./assets/background.jpg")  center fixed;
    background-color:white;
    
    
}

header {
    background-color: aliceblue;;
    color: black;
}
/* #title {
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border-color: black;
    border-width: 5px;
} */

* {
    font-family: Helvetica Black Oblique;
    font-weight: 900;
    font-stretch: semi-condensed;
}
    

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
   
}

#playerWrapper {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height:600px;
    border-radius: 5px;
}

#computerWrapper {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 600px;
    border-radius: 5px;
}
#message { 
    padding-left: 40%;
}